
    <!-- Carousel Slider -->
    <div id="carouselLogo" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselLogo" data-slide-to="0" class="active"></li>
            <li data-target="#carouselLogo" data-slide-to="1"></li>
            <li data-target="#carouselLogo" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="./images/kiosk.png" alt="First slide">
                <h2 style="margin-top: -130px; float:right; margin-right:150px;">Test Technique</h2>
            </div>
            <!--
            <div class="carousel-item">
                <img class="d-block img-fluid" src="https://webassets.mongodb.com/_com_assets/cms/MongoDB-Logo-5c3a7405a85675366beb3a5ec4c032348c390b3f142f5e6dddf1d78e2df5cb5c.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="http://www.facenet.org/wp-content/themes/executive/assets/images/header.jpg" alt="First slide">
            </div>-->
        </div>
        <a class="carousel-control-prev" href="#carouselLogo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselLogo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Carousel Slider -->

    <!-- Card -->
    <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Technologies </h3>
        <hr class="bg-dark mb-4 w-25">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img style="height:250px" class="card-img-top" src="http://www.techjini.com/wp-content/uploads/2017/01/nodejs-logo.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">NodeJS</h4>
                        <p class="card-text">Node.js is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side.</p>
                        <a href="https://nodejs.org/en/docs/" class="btn btn-primary rounded-0 mb-2">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img style="height:250px" class="card-img-top" src="https://blog.netapsys.fr/wp-content/uploads/2015/04/angularjs_logo.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">AngularJS</h4>
                        <p class="card-text">AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google.</p>
                        <a href="https://docs.angularjs.org/tutorial" class="btn btn-primary rounded-0 mb-2">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img style="height:250px" class="card-img-top" src="https://cacm.acm.org/system/assets/0002/7119/042117_Theodo_MongoDB.large.jpg?1492791427&1492791427" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">MongoDB</h4>
                        <p class="card-text">MongoDB is an open-source cross-platform document-oriented database program and a NoSQL database program.</p>
                        <a href="https://www.mongodb.com/mongodb-3.6?jmp=homepage&jmp=homepage" class="btn btn-primary rounded-0 mb-2">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8">
                <h2 class="display-4">Test de compétences</h2>
                <hr class="bg-dark">
                <h4>développement Fullstack / SysAdmin</h4>
                <p class="lead">
                    
                    Le test est relativement complet et donc un peu long.

                    L'objectif est d'être efficace, donc il va te falloir sûrement effectuer une petite veille afin de sélectionner les techs/libs etc..

                    Vous avez carte blanche pour les raccourcis, l'important est d'avoir de la qualité au final.
                    Pas la peine de se précipiter; rendre la copie le plus vite possible ne nous intéresse pas, aussi nous attendons le résultat au plus tard une semaine après l’envoi du test.
                </p>
                <p>
                    Sujet :

                    Développer un mini site en DotNet (ou NodeJs) comportant un front en Javascript, une API Web (WebAPI) et une Database (de votre choix).

                    Fonctionnellement, il s’agira d’un formulaire de saisie de création de compte et de pour pouvoir se logger / délogger d’une application dont le seul but est d’afficher le nom de l’utilisateur.
                    Une emphase forte sera mise sur la maintenabilité du code (Tests automatisés).
                    Le code sera accessible sous GitHub.
                </p>
                <ul class="list-unstyled pl-4"><b>Bonus</b>
                    <li><i class="fa fa-check"></i> Le service est accessible (déployé).</li>
                    <li><i class="fa fa-check"></i> Mise en place d’Intégration Continue.</li>
                    <li><i class="fa fa-check"></i> Mise en place de Monitoring.</li>
                    <li><i class="fa fa-check"></i> Mise en place d’Alerting.</li>
                    <li><i class="fa fa-check"></i> Mot de passe perdu.</li>
                    <li><i class="fa fa-check"></i> Captcha.</li>
                </ul>
            </div>
            <div class="col-md-4 mt-5">
                <img style="height: 400px; margin-top: 50px;" class="card-img-top" src="https://i1.wp.com/tonyarchambeau.com/wp-content/uploads/2015/08/checklist-stylo-693x522.jpg?resize=300%2C226" alt="Card image cap">
            </div>
        </div>
    </div>

    <footer class="footer bg-dark text-white">
        <div class="bg">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-6 col-lg-7">
                        <h4 class="mb-0 white-text">Get connected with us on social networks!</h4>
                    </div>
                    <div class="col-md-6 col-lg-5 text-right">
                        <a href="facebook.com"><i class="fa fa-facebook white-text mr-lg-4 fa-2x"> </i></a>
                        <a href="https://twitter.com/AyoubSonday"><i class="fa fa-twitter white-text mr-lg-4 fa-2x"> </i></a>
                        <a href="https://plus.google.com/u/0/+AyoubYushiki"><i class="fa fa-google-plus white-text mr-lg-4 fa-2x"> </i></a>
                        <a href="https://www.linkedin.com/in/ayoub-sonday/"><i class="fa fa-linkedin white-text mr-lg-4 fa-2x"> </i></a>
                        <a href="https://www.instagram.com/"><i class="fa fa-instagram white-text mr-lg-4 fa-2x"> </i></a>
                    </div>
                </div>
            </div>
        </div>

 		<hr style="border-style: inset; border-color:#ffffff">

        <div class="container pt-5 pb-2">
            <div class="row">

                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h4>LeKiosk</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p>
                       LeKiosk is pioneer and leader in Europe in digital press. LeKiosk is working with more than 350 publishers across Europe, and offers its customers a catalog of more than 1,000 titles, accessible either through computers, tablets and/or smartphones. 
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h4>MEAN Stack</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p><a href="https://www.mongodb.com/" class="text-white"><b>M</b> - MongoDB</a></p>
                    <p><a href="http://expressjs.com/" class="text-white"><b>E</b> - ExpressJS</a></p>
                    <p><a href="https://docs.angularjs.org/tutorial" class="text-white"><b>A</b> - AngularJS</a></p>
                    <p><a href="https://nodejs.org/en/docs/" class="text-white"><b>N</b> - NodeJS</a></p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h4>Useful links</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p><a href="#" class="text-white">Home</a></p>
                    <p><a href="#" class="text-white">Login</a></p>
                    <p><a href="#" class="text-white">Signup</a></p>
                    <p><a href="#" class="text-white">About us</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h4>Contact</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p><i class="fa fa-home mr-3"></i> Avenue Oujda, Tanger, Maroc</p>
                    <p><i class="fa fa-envelope mr-3"></i> lekioskmaroc@gmail.com</p>
                    <p><i class="fa fa-phone mr-3"></i> + 00 988 999 11</p>
                    <p><i class="fa fa-print mr-3"></i> + 11 111 111 11</p>
                </div>

            </div>
        </div>

        <hr class="bg-white mx-4 mt-2 mb-1">
        <div class="container-fluid">
            <p class="text-center m-0 py-1">
                © 2018 Copyright LeKiosk - TestTechnique
            </p>
        </div>
    </footer>
